*
{
  border:2px solid black;
  font-family: "Playfair Display", serif;
}

.Header
{
  display: grid;
  grid-template-areas: 
    "nav nav nav"
    "emp emp emp"
    "head head emp"
    "emp emp promo1"
    "emp emp promo2";
  grid-template-columns: 1fr 1fr 1fr; /* Define column sizes */
  grid-template-rows: auto auto auto auto auto; /* Define row sizes */
}

.Nav *
{
  padding:0.5rem;
}